<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jxt0589.javiertovar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".JavierApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".DialogActivity" />
        <activity
            android:name=".ActivityA"
            android:label="@string/title_activity_activity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ActivityB"
            android:label="@string/title_activity_activity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ActivityC"
            android:label="@string/title_activity_activity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ActivityD"
            android:label="@string/title_activity_activity"
            android:launchMode="standard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".TimerActivity"
            android:label="@string/title_activity_timer"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ActivityA2"
            android:label="@string/title_activity_a2"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".AnimationActivity"
            android:label="@string/title_activity_animation"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".AnimatorActivity"
            android:label="@string/title_activity_animator"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
    </application>

</manifest>